#mainPageWrapper {
    border: 2px solid black;
    background: #FAFAFA;
    padding-top: 40px;
    height: 1000px;
    position:satic;
}


#welcome {
    font-family: "Avenir Roman";
    // display:block;
    margin:auto; 
    width: 50%;
    padding-top: 5px;
    outline: 1px solid green; 
    text-align:center;
    font-size: 50px;
    color: black;
}

@media (min-width: 700px) and (min-height: 500px) {
    #welcome {
        font-size:25px;
    }
}
@media (min-width: 700px) and (min-height: 500px) {
    #welcome {
        font-size:25px;
    }
}

