.inputItem {
    width:100%;
    padding-top: 20px;
    box-sizing: border-box;
}


.inputElem {
    outline: none;
    border: 1px solid #ccc;
    background: white;
    font: inherit;
    padding: 5px 10px;
    display:block;
    width: 100%;
    &:focus {
        outline:none;
        background: #ccc;
    }
}

.inputItemLabel {
    padding-bottom: 100px !important;
}
