@navHeight: 60px;

#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    // height: fixed;
    background: @base;
    height: @navHeight;
    // opacity: 70%;
}

#logoContainer {
    width: 30%;
    float:left;
    display:block;
    height: @navHeight;
    outline: 1px solid pink;
}

#navLinks {
    float:right;
    height: @navHeight;
    width: 69%;
    outline: 1px solid grey;
    position: relative;
}

