@navHeight: 60px;

#navBar {
    width: 100%;
}
#actualNavBar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    // height: fixed;
    background: @baseTransparent;
    height: @navHeight;
    z-index: 100;
    // opacity: 70%;
}

#logoContainer {
    width: 30%;
    float:left;
    display:block;
    height: @navHeight;
    outline: 1px solid black;
}

#navLinks {
    float:right;
    height: @navHeight;
    width: 69%;
    position: relative;
}
#divider {
    height: 5px;
    background: black;
    position:relative;
    width:100%;
}

