#mainPageFooter {
    border:1px solid lightgrey;
    background:@base;
    color:black;
}

.footerDivider {
    color:lightgrey;
    margin-top:20px;
    margin-bottom:20px;

}

.footerSection {
    text-align:center;
    margin:0px;
    width:100%;
    padding:0px;
    height:100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
}

#sectionOne {
    // height:70%
}

#sectionTwo {
    height:30%;
    padding-bottom: 20px;
}

.footerCol {
    padding-top: 5px;
    list-style-type:none;
    width:inherit;
    margin:10px;
    border: 1px solid blue;
}

.footerColTitle {
    font-family: "Avenir Medium";
    padding-bottom:10px;
}

.footerColInfo {
    font-family: "Avenir Medium";
    color: #737373;
    margin:5px;
    font-size:14px;
}

#logoContainer {
    width:150px;
}

#socialMediaLinks {
    border: 1px solid pink;
    width: 40%;
}

#formalities {
    margin-left: 10px;
    border: 1px solid red;
}

