#mainPageFooter {
    border:1px solid lightgrey;
    background:@base;
    color:black;
    display:flex;
    flex-direction: column;
}

.footerDivider {
    background:darkgray;
    margin-bottom:10px;
    height:1px;
    width:100%;

}

.footerSection {
    display: flex;
    text-align:center;
    margin:0px;
    width:100%;
    padding:0px;
    height:100%;
    justify-content: space-between;
    padding-bottom:10px;
}

#sectionOne {
    // height:70%
}

#sectionTwo {
    height:30%;
}

.footerCol {
    padding-top: 5px;
    width:inherit;
    margin:10px;
    // border: 1px solid blue;
}

.footerColTitle {
    font-family: "Avenir Medium";
    padding-bottom:10px;
}

.footerColInfo {
    font-family: "Avenir Medium";
    color: #737373;
    margin:5px;
    font-size:14px;
}

#logoContainer {
    width:150px;
}

#socialMediaLinks {
    border: 1px solid pink;
    width: 30%;
}

#formalities {
    margin-left: 10px;
    border: 1px solid red;
}

.socialButtonsPlaceholder {
    width: 100%;
}


@media screen and (max-width: 600px) {

    .footerColTitle {
        font-size:10px;
    }
    .footerColInfo {
        font-size:8px;
    }
    .footerCol {
        margin-bottom:0px;
        margin-top:2px;
    }
    .footerColInfo  {
        flex: 4;
    }
    #logoContainer {
        flex:1;
    }
}