.preGetStartedPageWrapper {
    height: 600px;
}


.preGetStartedPageHeader {
    background: @base;
    height: 175px;
}

.preGetStartedMainHead {
    text-align:center;
    font-family: 'Avenir medium';
    font-size:30px;
    padding-top: 70px;
}
.preGetStartedPageMain {
    width: 600px;
    height:200px;
    // border: 1px solid green;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    display:flex;
    align-content: center;
    justify-content: space-evenly;


}
.preGetStartedCol {

}


.chooseStart {
    width: auto;
    height: auto;
    // border: 1px solid green;
    float:center;
    text-align: center;
}