.getStartedPageWrapper {
    height: auto;
    display:flex;
    flex-direction: column;
    padding-bottom: 30px;
}


.getStartedPageHeader {
    background: @base;
    height: 180px;
}

.getStartedMainHead {
    text-align:center;
    font-family: 'Avenir medium';
    font-size:25px;
    padding-top:40px;
}

.getStartedSubHead {
    text-align:center;
    font-family: 'Avenir medium';
    font-size:14px;
    padding-top:40px;
}

.getStartedFormWrapper {
    width: 350px;
    // border: 9px solid rgba(28,110,164,0.34);
    // background: rgba(28,110,164,0.34);
    // border-radius: 21px;
    margin: auto;
    // margin-top:20px;

}

.getStartedForm {
    font-family: 'Avenir medium';
    // border: 1px solid blue;
    // margin-left:auto;
    // margin-right:auto;
}

.getStartedSliderLabel {
    padding-bottom: 30px;
}


@media screen and (max-width: 600px) {

    .getStartedFormWrapper {
        width: 250px;
    }

    .getStartedSubHead {
        width: 325px;
        padding-top:20px;
        margin:auto;
    }
}