.pageWrapper {
    height: 600px;
}


.pageHeader {
    background: @base;
    height: 200px;
}

.mainHead {
    text-align:center;
    font-family: 'Avenir medium';
    font-size:25px;
    padding-top: 40px;
}

.subHead {
    text-align:center;
    font-family: 'Avenir medium';
    font-size:14px;
    padding-top:40px;
}

.formWrapper {
    width: 421px;
    border: 1px solid black;
    margin: auto;
    margin-top:20px;
    display:block;
}

.getStartedForm {
    font-family: 'Avenir medium';
    border: 1px solid blue;
    margin-left:auto;
    margin-right:auto;
}

.formItem {
    width:1000px;
}
